body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Signika', sans-serif;
}

html {
	height: 100%;
	margin: 0px;
}

#nav {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

#headerdiv {
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.whitetext{
	color: white;
}

#headertext {
	font-weight: 900;
	font-size: 3em;
	margin: auto auto 5px auto;
}

#toplevel {
	height: 50%;
	width: 100%;
	align-items: center;
	overflow: hidden;
}

#bottomlevel {
	border-radius: 3px;
	height: 62%;
	width: 70%;
	display: flex;
	margin: 3% 0 0 0 ;
	padding: 20px 0 0 0 ;
	background-color: white;
	flex-direction: column;
}

.layer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
	z-index: 0;
}

#hero{
	width: 100%;
	height: 100%;
	background-image: url(../resources/bg2.jpg);
	background-position: center; 
	background-repeat: no-repeat;
	background-blend-mode: lighten;
    background-size: 100% auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#question{
	height: 30%;
}

#qsplit {
	/*background-color: green;*/
	width: 100%;
	height: 8%;
	display: flex;
	justify-content: ;
}

#qsplitline{
	background-color: black;
	width: 15%;
	height: 3px;
	margin: auto;
}

#answers {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
}

#questiontext, #recommendtext{
	margin: 3%;
	font-size: 2em;
	text-align: center;
}

.answerbox{
	width: 50%;
	margin: 5%;
	text-align: center;
}

.answerbutton {
	border: 3px solid black;
	height: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 8px;
}

.answerbutton:hover{
	background-color: #fbfbfb;
}

.answertext{
	margin: auto;
	font-size: 1.2em;
}

.above{
	z-index: 1;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 800px) {
	#headertext {
		font-size: 1.5em;
		padding: 15px;
	}
		#questiontext {
		margin: 4%;
		font-size: 1.3em;
	}
}

@media only screen and (max-width: 600px) {
	#bottomlevel {
		width: 90%;
	}

	#hero{
		background-size: auto 100%;
	}

	#answers {
		flex-direction: column;
	}
}




