body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #dfdfdf;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Signika', sans-serif;
}

html {
	height: 100%;
	margin: 0px;
}

#nav {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#headerdiv {
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.whitetext{
	color: white;
}

#headertext {
	font-weight: 900;
	font-size: 3em;
	margin: auto auto 5px auto;
}

#toplevel {
	height: 50%;
	width: 100%;
	align-items: center;
	overflow: hidden;
}

#bottomlevel {
	border-radius: 3px;
	height: 75%;
	width: 70%;
	display: flex;
	background-color: white;
	flex-direction: column;
}

.layer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
	z-index: -1;
}

#hero{
	width: 100%;
	height: 100%;
	background-image: url(../resources/bg.jpg);
	background-position: center; 
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -2;
	
}

#qsplit {
	/*background-color: green;*/
	width: 100%;
	height: 8%;
}

#qsplitline{
	background-color: black;
	width: 15%;
	height: 3px;
	margin: auto;
}

#answers {
	display: flex;
	flex-direction: row;
}

#questiontext {
	margin: 3%;
	font-size: 2em;
	text-align: center;
}

.answerbox{
	width: 50%;
	margin: 5%;
	text-align: center;
}


.answerbutton {
	border: 3px solid black;
	height: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 8px;
}

.answerbutton :hover {
	background-color: #dedede;
}

.answertext{
	margin: auto;
	font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
	#header {
		font-size: 1em;
		padding: 15px;
	}
}




